<div class="bang-gia-ve">
    <div class="header">
        <h2>{{ 'pricing' | translate }}</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'khach_hang' | translate }}</th>
                <th>{{ 'monday' | translate }}</th>
                <th>{{ 'before' | translate }}</th>
                <th>{{ 'after' | translate }}</th> 
                
                <th>{{ 'weekend' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ 'adult' | translate }} </td>
                <td>45.000 VND / {{ 'seat' | translate }}</td>
                <td>45.000 VND / {{ 'seat' | translate }}</td>
                <td>45.000 VND / {{ 'seat' | translate }}</td>
                <td>45.000 VND / {{ 'seat' | translate }}</td>
            </tr>
            <tr>
                <td>{{ 'st' | translate }}</td>
                <td>45.000 VND / {{ 'seat' | translate }}</td>
                <td>45.000 VND / {{ 'seat' | translate }}</td>
                <td>45.000 VND / {{ 'seat' | translate }}</td>
                <td>45.000 VND / {{ 'seat' | translate }}</td>
            </tr>
        </tbody>
    </table>

    <div class="ghi-chu">
        <p><strong>* {{ 'couple' | translate }}:</strong> {{ '90k' | translate }}</p>
        <p><strong>* {{ 'sub_price' | translate }}:</strong> {{ '5k' | translate }}</p>
        <p><strong>* {{ 'sub_price' | translate }}:</strong> {{ '10k' | translate }}</p>
        <p><strong>* {{ 'st_ticket' | translate }}:</strong> {{ 'st_note' | translate }}</p>
        <p><strong>* {{ 'child_tic' | translate }}:</strong> {{ '1m3' | translate }}</p>
        <p><strong>* {{ 'child' | translate }}:</strong> {{ 'child_note' | translate }}</p>
        <p><strong>* {{ 'old_man' | translate }}:</strong> {{ '>55t' | translate }}</p>
        <p><strong>* {{ 'soon_showtime' | translate }}:</strong> {{ 'not_use' | translate }}</p>
    </div>
</div>