<!-- update-account.component.html -->
<h2 class="mt-5">{{ 'profile' | translate }}</h2>
<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="update-form">
  <div class="form-group">
    <label for="username">{{ 'username' | translate }}:</label>
    <input id="username" formControlName="username" type="text" [ngModel]="account.username"/>
  </div>
  
  <div class="form-group">
    <label for="currentPassword">{{ 'current_pass' | translate }}:</label>
    <div class="password-field">
      <input id="currentPassword" formControlName="currentPassword" [type]="showCurrentPassword ? 'text' : 'password'" />
      <i class="eye-icon fas" [ngClass]="showCurrentPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility('currentPassword')"></i>
<!-- account-info.component.html -->
<div class="account-wrapper mt-4">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="profile">
      <div class="avatar">
        <i class="fas fa-user"></i>
      </div>
      <h3 style="color: white">{{profile?.fullName}}</h3>
<!--      <a class="change-avatar">Thay đổi ảnh đại diện</a>-->
    </div>
    <div class="menu">
      <a [class.active]="activeTab === 'info'" (click)="activeTab = 'info'">
        <i class="fas fa-user-circle"></i>Thông tin khách hàng
      </a>
      <a [class.active]="activeTab === 'history'" (click)="activeTab = 'history'">
        <i class="fas fa-receipt"></i>Lịch sử mua hàng
      </a>
      <a (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>Đăng xuất
      </a>
    </div>
  </aside>

  <!-- Main Content -->
  <main class="main-panel">
    <!-- Thông tin khách hàng -->
    <div *ngIf="activeTab === 'info'">
      <div class="panel-header">
        <h1>THÔNG TIN KHÁCH HÀNG</h1>
      </div>
      <div class="panel-body">
        <form class="info-form">
          <div class="form-group">
            <label for="name">Họ và tên</label>
            <input type="text" id="name" value="{{profile?.fullName}}" />
          </div>
          <div class="form-group">
            <label for="dob">Ngày sinh</label>
            <input type="date" id="dob" value="{{profile?.dob}}" />
          </div>
          <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="tel" id="phone" value="{{profile?.phoneNumber}}" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" value="{{profile?.email}}" />
          </div>
          <div class="form-actions">
            <button type="submit">Lưu thông tin</button>
          </div>
        </form>
      </div>


      <div class="panel-header">
        <h1>ĐỔI MẬT KHẨU</h1>
      </div>
      <div class="panel-body">
        <form class="info-form">
          <div class="form-group">
            <label for="name">Mật khẩu mới</label>
            <input type="password" id="newPass" value="" />
          </div>
          <div class="form-group">
            <label for="name">Lặp lại mật khẩu mới</label>
            <input type="password" id="repeatPass" value="" />
          </div>
          <div class="form-actions">
            <button type="submit">Đổi mật khẩu</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Lịch sử mua hàng -->
    <div *ngIf="activeTab === 'history'">
      <div class="panel-header">
        <h1>LỊCH SỬ MUA VÉ</h1>
      </div>
      <div class="panel-body">

        <!-- Trạng thái đang loading -->
        <div *ngIf="isLoading" class="loading-container">
          <div class="spinner"></div>
          <p>Đang tải vé của bạn...</p>
        </div>

        <!-- Trạng thái có vé -->
        <div *ngIf="!isLoading && tickets.length > 0" class="table-container">
          <table class="ticket-table">
            <thead>
            <tr>
              <th>Tên phim</th>
              <th>Suất chiếu</th>
              <th>Rạp</th>
              <th>Tổng tiền</th>
              <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of tickets">
              <td>{{ ticket.movieTitle }}</td>
              <td>{{ ticket.showtime | date: 'HH:mm - dd/MM/yyyy' }}</td>
              <td>{{ ticket.cinemaName }}</td>
              <td>{{ ticket.totalPrice | currency: 'VND' }}</td>
              <td><button (click)="showTicket(ticket.id)">Xem chi tiết</button></td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- Trạng thái không có vé -->
        <div *ngIf="!isLoading && tickets.length === 0" class="no-tickets">
          Không có vé nào được mua.
        </div>

        <!-- Modal vé điện tử -->
        <div class="ticket-modal" *ngIf="selectedTicket">
          <div class="ticket" #ticketContent>
            <div class="ticket-header">
              <h2>{{ selectedTicket.movieTitle }}</h2>
            </div>

            <div class="ticket-body">
              <p><strong>Suất chiếu:</strong> {{ selectedTicket.showtime }}</p>
              <p><strong>Rạp:</strong> {{ selectedTicket.cinemaName }}</p>
              <p><strong>Ngày mua:</strong> {{ selectedTicket.createdAt | date: 'HH:mm - dd/MM/yyyy'}}</p>
              <p><strong>Tổng tiền:</strong> {{ selectedTicket.totalPrice | currency:'VND' }}</p>
              <p><strong>Ghế:</strong></p>
              <ul>
                <li *ngFor="let seat of selectedTicket.bookingSeats">
                  {{ seat.seatCode }} ({{ seat.type }})
                </li>
              </ul>
            </div>

            <div class="ticket-qr">
              <img [src]="'data:image/png;base64,' + selectedTicket.qrCodeBase64"
                   alt="QR Code"
                   style="border: none; max-width: 100%; width: 150px; height: 150px;" />

            </div>

            <div class="ticket-actions">
              <button class="print-btn" >In vé</button>
              <button class="close-btn" (click)="selectedTicket = null">Đóng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

