<div class="container-xxl py-5" id="map">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <div class="left-image" style="text-align: center;">
          <img alt="" src="{{movie.posterUrl}}" width="65%"/>
        </div>
      </div>
      <div class="col-lg-6">
        <h1 class="mb-4 text-uppercase">{{ movie.title }}</h1>
        <!--                <h3 class="mb-4" style="font-size: 16px;"> Được người xem đánh giá: {{ averageStars.toFixed(2) }} / 5 &nbsp;<i class="fas fa-star"></i></h3>-->
        <!--                <p class="mb-4" style="font-size: 16px;">{{movie.description}}</p>-->
        <div class="row g-4 mb-3 pb-3">
          <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
            <div class="row mt-2">
              <div class="col-5">
                <h5><i class="fa-solid fa-tags"></i> Thể loại</h5>
              </div>
              <div class="col-7">
                <p style="font-size: 16px;text-align: left;margin-top: 0;">{{ movie.genres }}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-5">
                <h5><i class="fa-solid fa-clock"></i> Thời lượng </h5>
              </div>
              <div class="col-7">
                <p style="font-size: 16px;text-align: left;margin-top: 0;">{{ movie.duration + ' phút' }}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-5">
                <h5><i class="fa-solid fa-earth-asia"></i> Ngôn ngữ </h5>
              </div>
              <div class="col-7">
                <p style="font-size: 16px;text-align: left;margin-top: 0;">{{ movie.language }}</p>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-5">
                <h5><i class="fa-solid fa-message"></i> Phụ đề </h5>
              </div>
              <div class="col-7">
                <p style="font-size: 16px;text-align: left;margin-top: 0;">{{ movie.subtitle }}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-5">
                <h5><i class="fa-solid fa-user-check"></i> Phân loại độ tuổi</h5>
              </div>
              <div class="col-7">
                <p style="font-size: 16px;text-align: left;margin-top: 0;">{{ movie.rating }}</p>
              </div>
            </div>
            <h2 class="mt-4 mb-3 text-uppercase">Mô tả</h2>
            <p>Ngày phát hành: {{ movie.releaseDate }}</p>
            <p>Diễn viên: {{ movie.casts }}</p>
            <p>Đạo diễn: {{ movie.director }}</p>
            <h2 class="mt-4 mb-3 text-uppercase">Nội dung phim</h2>
            <p>{{ movie.description }}</p>

          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="qr-code mt-5 text-center">
        <h1 class="m-4">Trailer</h1>
      </div>
      <div class="qr-code mt-2 text-center">
        <iframe
          [src]="this.trailerUrl"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          frameborder="0"
          height="315"
          title="YouTube video player"
          width="560">
        </iframe>
      </div>
    </div>

    <div class="col-lg-12 mb-5 mt-5">
      <div class="section-heading">
        <div class="select-wrapper">
          <select (change)="selectCinema($event)" class="select-cinema" id="" name="">
            <ng-container *ngFor="let cinema of cinemas">
              <option value="{{ cinema.id }}">{{ cinema.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>

    <!-- Date -->
    <div class="col-lg-12">
      <div aria-label="Basic radio toggle button group" class="btn-group custom-radio-group" role="group">
        <input
          (click)="check($event)"
          autocomplete="off"
          checked
          class="btn-check"
          id="btnradio1"
          name="btnradio"
          type="radio"
          value="{{ date1 | date : 'yyyy-MM-dd' }}"
        />
        <label class="btn btn-outline-primary custom-radio-label"
               for="btnradio1">{{ date1 | date : "dd/MM/yyyy" }}</label>

        <input
          (click)="check($event)"
          autocomplete="off"
          class="btn-check"
          id="btnradio2"
          name="btnradio"
          type="radio"
          value="{{ date2 | date : 'yyyy-MM-dd' }}"
        />
        <label class="btn btn-outline-primary custom-radio-label"
               for="btnradio2">{{ date2 | date : "dd/MM/yyyy" }}</label>

        <input
          (click)="check($event)"
          autocomplete="off"
          class="btn-check"
          id="btnradio3"
          name="btnradio"
          type="radio"
          value="{{ date3 | date : 'yyyy-MM-dd' }}"
        />
        <label class="btn btn-outline-primary custom-radio-label"
               for="btnradio3">{{ date3 | date : "dd/MM/yyyy" }}</label>

        <input
          (click)="check($event)"
          class="btn-check"
          id="btnradio4"
          name="btnradio"
          type="radio"
          value="{{ date4 | date : 'yyyy-MM-dd' }}"
        />
        <label class="btn btn-outline-primary custom-radio-label"
               for="btnradio4">{{ date4 | date : "dd/MM/yyyy" }}</label>

        <input
          (click)="check($event)"
          autocomplete="off"
          class="btn-check"
          id="btnradio5"
          name="btnradio"
          type="radio"
          value="{{ date5 | date : 'yyyy-MM-dd' }}"
        />
        <label class="btn btn-outline-primary custom-radio-label"
               for="btnradio5">{{ date5 | date : "dd/MM/yyyy" }}</label>

        <input
          (click)="check($event)"
          autocomplete="off"
          class="btn-check"
          id="btnradio6"
          name="btnradio"
          type="radio"
          value="{{ date6 | date : 'dd/MM/yyyy' }}"
        />
        <label class="btn btn-outline-primary custom-radio-label"
               for="btnradio6">{{ date6 | date : "dd/MM/yyyy" }}</label>

        <input
          (click)="check($event)"
          autocomplete="off"
          class="btn-check"
          id="btnradio7"
          name="btnradio"
          type="radio"
          value="{{ date7 | date : 'dd/MM/yyyy' }}"
        />
        <label class="btn btn-outline-primary custom-radio-label"
               for="btnradio7">{{ date7 | date : "dd/MM/yyyy" }}</label>
      </div>
    </div>
    <div class="section-heading text-uppercase">
      <h2>Suất chiếu</h2>
    </div>
    <div *ngIf="showtimes?.length > 0" class="d-flex flex-wrap justify-content-center gap-2 mt-3">
      <a
        *ngFor="let showtime of showtimes"
        [routerLink]="['/buy-ticket', showtime.id]"
        class="btn btn-outline-primary rounded-3 text-center px-4 py-2"
        style="min-width: 80px; font-weight: 500; text-decoration: none"
      >
        {{showtime.startTime | date : 'HH:mm' }}
      </a>
    </div>

    <div
      *ngIf="showtimes?.length == 0"
      style="
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  "
    >
      <img
        src="https://img.freepik.com/free-vector/film-rolls-concept-illustration_114360-6734.jpg?size=626&ext=jpg&uid=R42465319&semt=ais"
        alt=""
        style="width: 200px"
      />
      <span>Sorry, we don't have any show times for today.</span>
    </div>

    <div class="row mt-5">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Bình luận và Đánh giá</h2>
        </div>

        <!-- Comment Form -->
        <div class="comment-form mb-4">
          <form (submit)="submitComment($event)">
            <div class="mb-3">
              <label class="form-label" for="userName">Tên của bạn:</label>
              <input [value]="accountUsername != null ? accountUsername : 'Tài khoản ẩn danh'" class="form-control"
                     id="userName"
                     readonly required type="text">
            </div>
            <div class="mb-3">
              <label class="form-label" for="userComment">Bình luận:</label>
              <textarea class="form-control" id="userComment" required rows="4"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label">Đánh giá:</label>
              <div class="rating">
                <input id="star5" name="rating" type="radio" value="5">
                <label for="star5" title="5 stars"></label>

                <input id="star4" name="rating" type="radio" value="4">
                <label for="star4" title="4 stars"></label>

                <input id="star3" name="rating" type="radio" value="3">
                <label for="star3" title="3 stars"></label>

                <input id="star2" name="rating" type="radio" value="2">
                <label for="star2" title="2 stars"></label>

                <input id="star1" name="rating" type="radio" value="1">
                <label for="star1" title="1 star"></label>
              </div>

            </div>
            <button class="btn btn-primary" type="submit">Gửi</button>
          </form>
        </div>

        <!-- Display Comments and Ratings -->
        <div class="comments-section">
          <h3>Những bình luận và đánh giá</h3>
          <div *ngFor="let comment of listComment" class="comment">
            <div class="comment-header" style="display: block;">
              <strong>{{ comment.accountId }}</strong>
              <div class="rating" style="position: relative;transform: translateX(-35.7em);">
                            <span *ngFor="let star of starsArray; let i = index"
                                  [ngClass]="{'filled': i < comment.rate}"
                                  class="star">
                              &#9733;
                            </span>
              </div>
            </div>
            <p>{{ comment.comment }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
