<section class="container-form forms">
  <!-- Form gửi yêu cầu reset password -->
  <div *ngIf="!isVerificationSent">
    <form (ngSubmit)="sendVerificationEmail()" #forgotPasswordForm="ngForm">
      <h2>Quên mật khẩu</h2>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required />
      <button style="background-color: #B31E8D" type="submit">Gửi mã xác thực</button>
    </form>
  </div>

  <!-- Box hiển thị sau khi gửi thành công -->
  <div *ngIf="isVerificationSent" class="notification-box">
    <h2>Yêu cầu thành công</h2>
    <p>
      Chúng tôi đã gửi một email khôi phục mật khẩu đến <strong>{{ email }}</strong>.
    </p>
    <p>Vui lòng kiểm tra hộp thư của bạn và đăng nhập lại bằng mật khẩu mới.</p>
    <button style="background-color: #B31E8D" routerLink="/login">Quay lại trang đăng nhập</button>
  </div>
</section>

<p-toast></p-toast>
