<!-- unauthorized.component.html -->
<div class="unauthorized-container">
  <div class="unauthorized-card">
    <img
      src="https://img.freepik.com/free-vector/401-error-unauthorized-concept-illustration_114360-1922.jpg?semt=ais_hybrid&w=740"
      alt="Unauthorized Image"
      class="unauthorized-image"
    />
    <h1>403</h1>
    <h2>Bạn không có quyền truy cập trang này</h2>
    <p>Vui lòng quay lại trang chính hoặc đăng nhập bằng tài khoản có quyền.</p>
    <a href="http://localhost:4200/" class="go-home-btn">Quay lại trang chủ</a>
  </div>
</div>
