<div class="single-product section">
  <div *ngIf="visible">
    <p-dialog
      [(visible)]="visible"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [maximizable]="true"
      [modal]="true"
      [style]="{ width: '50rem' }"
      header="Phương thức thanh toán">
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      <br>
      <button (click)="onPay()">Thanh toán VNPay</button>
    </p-dialog>
  </div>


  <div class="container">
    <div class="row">
      <!--     Thoông tin suất chiếu -->
      <div class="col-8">
        <div class="row">
          <div class="col-lg-5">
            <div class="left-image" style="border: 1px solid #eee">
              <img alt="" src="{{this.movie.posterUrl}}"/>
            </div>
          </div>
          <div class="col-lg-7 align-self-center">
            <div>
              <h1 class="display-2 text-uppercase">{{ showDetail.movieTitle }} </h1>
              <h5>Ngày chiếu : {{ showDetail.startTime  | date: 'dd/MM/YYYY' }} - Suất chiếu
                : {{ showDetail.startTime | date: 'HH:mm' }}</h5
              >

              <ul class="display-5" style="margin-top: 20px;">
                <li>
                  <span>Độ tuổi:</span>
                  <span style="color: #333; text-transform: capitalize; width: 350px;">{{ this.movie.rating }}</span>
                </li>
                <li>
                  <span>Thể loại:</span>
                  <span style="color: #333; text-transform: capitalize; width: 350px;">{{ this.movie.genres }}</span>
                </li>
                <li>
                  <span>Thời lượng:</span>
                  <span style="color: #333">{{ this.movie.duration }}</span>
                </li>
                <li>
                  <span>Ngày ra mắt:</span>
                  <span
                    style="color: #333; text-transform: capitalize; width: 350px;">{{ this.movie.releaseDate | date: 'dd/MM/YYYY' }}  </span>
                </li>
                <li>
                  <span>Ngôn ngữ:</span>
                  <span style="color: #333; text-transform: capitalize; width: 350px;">{{ this.movie.language }}</span>
                </li>
                <li>
                  <span>Phụ đề:</span>
                  <span style="color: #333; text-transform: capitalize;  width: 350px;">{{ this.movie.subtitle }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--      Form điền-->
      <div class="col-4">
        <form (ngSubmit)="buyTicket()" [formGroup]="ticketForm"
              method="post"

              style="width: 100%"
        >
          <div
            class="surface-card p-4 shadow-2 border-round w-full"
            style="border: 1px solid #eee; border-radius: 6px"
          >
            <div class="text-center mb-5">
              <div
                class="d-flex align-items-center justify-content-center mx-auto"
              >
                <h4 class="m-0" style="color: #b31e8d; padding: 20px 0">
                  <i class="fa fa-store me-3" style="color: #b31e8d"></i>ABCD
                  MALL
                </h4>
              </div>
              <div
                class="text-900 text-3xl font-medium mb-3"
                style="font-size: 14px"
              >
                Hope you have a good time at our cinema
              </div>
            </div>

            <div>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 20px;
                "
              >
                <label
                  class="block text-900 font-medium mb-2"
                  for="NameCustomer"
                >Họ và tên:</label
                >
                <input
                  class="w-full"
                  formControlName="name"
                  id="NameCustomer"
                  pInputText
                  placeholder="Nguyễn Văn A"
                  style="width: 100%; text-align: left; border-radius: 4px"
                  type="text"

                />
                <div *ngIf="ticketForm.get('name')?.invalid && ticketForm.get('name')?.touched">
                  <small *ngIf="ticketForm.get('name')?.errors?.['required']">Full Name is required.</small>
                </div>
              </div>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 20px;
                "
              >
                <label
                  class="block text-900 font-medium mb-2"
                  for="PhoneCustomer"
                >Số điện thoại:</label
                >
                <input
                  class="w-full"
                  formControlName="phone"
                  id="PhoneCustomer"
                  pInputText
                  placeholder="+123 456 789"
                  style="width: 100%; text-align: left; border-radius: 4px"
                  type="text"

                />
                <div *ngIf="ticketForm.get('phone')?.invalid && ticketForm.get('phone')?.touched">
                  <small *ngIf="ticketForm.get('phone')?.errors?.['required']">Phone is required.</small>
                  <small *ngIf="ticketForm.get('phone')?.errors?.['pattern']">Phone must be a valid number with 10 to 11
                    digits.</small>
                </div>
              </div>
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 20px;
                "
              >
                <label
                  class="block text-900 font-medium mb-2"
                  for="PhoneCustomer"
                >Email:</label
                >
                <input
                  class="w-full"
                  formControlName="email"
                  id="Email"
                  pInputText
                  placeholder="nguyenvana@gmail.com"
                  style="width: 100%; text-align: left; border-radius: 4px"
                  type="email"

                />
                <div *ngIf="ticketForm.get('email')?.invalid && ticketForm.get('email')?.touched">
                  <small *ngIf="ticketForm.get('email')?.errors?.['required']">Email is required.</small>
                  <small *ngIf="ticketForm.get('email')?.errors?.['email']">Enter a valid email address.</small>
                </div>
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 20px;
                "
              >
                <label class="block text-900 font-medium mb-2"
                >Danh sách ghế đã chọn:</label
                >
                <input
                  [value]="selectedSeatStr"
                  class="w-full"

                  disabled
                  pInputText
                  style="width: 100%; text-align: left; border-radius: 4px"
                  type="text"
                />
              </div>
              <div
                style="
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
              "
              >
                <label class="block text-900 font-medium mb-2"
                >Chọn combo:</label
                >
                <table>
                  <tr>
                    <td>Tên combo</td>
                    <td>Số lượng</td>
                  </tr>
                  <tr *ngFor="let combo of combos">
                    <td>{{ combo.name }}</td>
                    <td><input (input)="onValueChange($event, combo.id, combo.price)" type="number" value="0"></td>
                  </tr>
                </table>

                <input formControlName="showTimeId" type="hidden" value="{{showDetail.id}}">

              </div>
              <div style="width: 100%">
                <button

                  class="w-full"
                  label="Submit"
                  pButton
                  pRipple
                  style="
                    width: 100%;
                    background: #b31e8d;
                    border: 1px solid #b31e8d;
                    border-radius: 4px;
                  "
                ></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--      Phaân sơ đô ghế-->
      <div class="col-lg-12">
        <div class="sep"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div
          style="
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #333;
          "
        >
          <h5 class="seat-note-heading">Screen</h5>
        </div>
        <div
          style="
            width: 100%;
            height: 30px;
            clip-path: polygon(
              0% 44%,
              6% 36%,
              15% 28%,
              22% 22%,
              32% 15%,
              42% 11%,
              52% 8%,
              64% 11%,
              75% 14%,
              83% 19%,
              90% 26%,
              94% 31%,
              100% 42%,
              87% 35%,
              81% 31%,
              76% 25%,
              70% 22%,
              62% 19%,
              54% 16%,
              45% 17%,
              38% 21%,
              28% 27%,
              20% 31%,
              13% 36%,
              8% 41%
            );
            background: #333;
            margin: 0 auto;
          "
        >
          Screen
        </div>
        <div
          [style.width]="200"
          style="
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
          "
        >
          <div class="seating-chart">
            <div *ngFor="let row of seatGrid; let rowIndex = index" class="seat-row">
              <span class="row-label">{{ getRowLabel(rowIndex) }}</span>

              <ng-container *ngFor="let seat of row">
                <button
                  (click)="toggleSeat(seat)"
                  *ngIf="seat"
                  [disabled]="seat.status === 'BOOKED'"
                  [ngClass]="{
          'selected': isSeatSelected(seat.seatCode),
          'booked': seat.status === 'BOOKED',
          'vip': seat.type === 'VIP',
          'couple': seat.type === 'COUPLE',
          'available': seat.status === 'AVAILABLE' && !isSeatSelected(seat.seatCode)
        }"
                  class="seat">
                  {{ seat.seatCode }}
                </button>

                <!-- Hiển thị ô trống nếu là null -->
                <span *ngIf="!seat" class="seat empty-seat"></span>
              </ng-container>
            </div>
          </div>


          <!-- Hiển thị thông tin ghế đã chọn -->
<!--          <div *ngIf="selectedSeats.length > 0" class="selected-info">-->
<!--            Selected Seats:-->
<!--            <span *ngFor="let seat of selectedSeats">{{ seat }} </span>-->
<!--          </div>-->

        </div>
      </div>
    </div>
    <div class="seat-note-container">
      <h3 class="seat-note-heading">Seat Note</h3>
      <div class="seat-note-row">
        <div class="note-item">
          <span class="seat available"></span>
          <span class="label">Ghế trống</span>
        </div>
        <div class="note-item">
          <span class="seat selected"></span>
          <span class="label">Đang chọn</span>
        </div>
        <div class="note-item">
          <span class="seat booked"></span>
          <span class="label">Đã đặt</span>
        </div>
        <!--        <div class="note-item">-->
        <!--          <span class="seat double-seat"></span>-->
        <!--          <span class="label">Ghế đôi</span>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
